/* CSS HEX
--desert-sand: #D6AA97ff;
--bole: #6e4230ff;
--bole-2: #653a2aff;
--caput-mortuum: #5c3324ff;
--caput-mortuum-2: #532c1eff;
--caput-mortuum-3: #4a2419ff;
--black-bean: #411d13ff;
--black-bean-2: #38160dff;
--black-bean-3: #2f0e07ff;
--black-bean-4: #260701ff;
*/
/*
https://coolors.co/d6aa97-6e4230-653a2a-5c3324-532c1e-4a2419-411d13-38160d-2f0e07-260701
*/

@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    min-height: 100vh;
}

/*HEADER*/

/*h1 contenitore di svg*/
h1{
    width: 30%;
  }

/*SVG responsive*/
header h1 svg#svg-header-logo {
    width: 100%;
    height: auto;
  }
  /* Stile per DAIANA */
  .name-daiana-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    fill: white;
  }
  /* Stile per LASH ARTIST */
  .lash-artist {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    fill: white;
  }
  /* Stile per la linea */
  .line-logo {
    stroke: white;
    stroke-width: 6;
    fill: none;
  }
  /* Animazione per disegnare la linea */
  @keyframes drawLine {
    0% {
      stroke-dashoffset: 400;
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }

  .animate-line-logo {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: drawLine 2s forwards;
    animation-delay: 0.5s;
  }
  /* Animazione per far scendere il testo "LASH ARTIST" */
  @keyframes dropText {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
  }
  header#main-header-logo g.animate-secondary-text {
    opacity: 0;
    animation: dropText 2s forwards 2s;
  }

header#main-header-logo{
    background: linear-gradient(#6e4230ff, #653a2aff, #5c3324ff, #532c1eff, #4a2419ff, #411d13ff, #38160dff, #2f0e07ff, #260701ff);
    text-align: center;
}

nav#main-navbar{
    background-color: #6e4230ff;
    color: #D6AA97ff;
    margin-top: 1.5%;
}

nav#main-navbar ul li{
    float: left;
    list-style: none;
    font-size: 2rem;
    width: calc(100% / 5);
    padding: 0.5% 1.5%;
    text-align: center;
}

nav#main-navbar ul li a{
    text-decoration: none;
    color: #D6AA97ff;
    display: inline-block;
    width: 100%;
    padding: 7.5% 0;
    font-weight: bold;
}

nav#main-navbar ul li a:hover{
    border-radius: 999%;
    background-color: #D6AA97ff;
    color: #6e4230ff;
    cursor: pointer;
    transition: 0.4s;
}

div#clearfix{
    clear: both;
}

/*SECTION*/

section.main-section-navbar{
    font-size: 1.3rem;
    text-align: center;
    background-color: #D6AA97ff;
    color: #411d13ff;
    margin: 1%;
    border-radius: 35% 20%;
}

section.main-section-navbar h2{
    padding: 2%;
}

section.main-section-navbar p#content-chi-sono{
    padding-bottom: 2%;
}

/*BOTTOM TORNA SU*/

#tornaSu {
            position: fixed;
            bottom: 50px;
            right: 50px;
            background-color: #260701ff;
            color: #D6AA97ff;
            border: none;
            padding: 15px 20px;
            font-size: 1.1rem;
            border-radius: 20px;
            cursor: pointer;
            /*display: none; /* Nascosto all'inizio */
        }

#tornaSu:hover {
    background-color: #D6AA97ff;
    color: #6e4230ff;
}

/*FOOTER*/

footer#main-footer{
    background-color: #4a2419ff;
    color: #D6AA97ff;
    padding: 2%;
}